<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BibliotekaPPP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BibliotekaPPP.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Stylesheets", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Gradja" asp-action="Pretraga">Biblioteka</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Gradja" asp-action="Pretraga">Pretraga gradje</a>
                        </li>
                    </ul>
                    @if (ViewBag.Korisnik != null)
                    {
                        if( ((NalogBO)ViewBag.Korisnik).Uloga == "Korisnik_Clan" )
                        {
                            <div class="dropdown">
                                <button class="btn btn-light dropdown-toggle" type="button" id="clan-korisnik-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Članske funkcionalnosti <!-- TODO: Ime, prezime, JCB? -->
                                </button>
                                <ul class="dropdown-menu w-100" aria-labelledby="clan-korisnik-dropdown">
                                    <li><a asp-controller="Clan" asp-action="LicniPodaci" class="dropdown-item">Lični i članski podaci</a></li>
                                    <li><a asp-controller="Clanarina" asp-action="Clanarine" class="dropdown-item">Članarine</a></li>
                                    <li><a class="dropdown-item" href="#">Pozajmice</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Log out</a></li>
                                </ul>
                            </div>
                        }
                    }
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
