@model BibliotekaPPP.Models.ViewModels.PozajmiceViewModel

@{
	ViewData["Title"] = "Pozajmice";
}

<h1>Prikaz pozajmica</h1>
<hr class="mb-5"/>

<div class="mb-3">
	@if(ViewBag.Clanarine.Count == 0)
	{
		Poruka porukaKorisniku = ViewBag.PorukaKorisniku;
		await Html.RenderPartialAsync("~/Views/Shared/_PorukaKorisniku.cshtml", porukaKorisniku);
	}
	else
	{
		<form asp-controller="Pozajmica" asp-action="Pozajmice" method="post">
			<select asp-for="ClanarinaRbr" class="form-select w-auto" onchange="this.form.submit()">
				<option value="" selected disabled>-- Izaberite clanarinu --</option>
				@foreach(ClanarinaBO clanarinaBO in ViewBag.Clanarine)
				{
					<option value="@clanarinaBO.Rbr">
						@clanarinaBO.DatumPocetka.ToString("dd/MMM/yyyy")
						- 
						@clanarinaBO.DatumZavrsetka.ToString("dd/MMM/yyyy")
					</option>
				}
			</select>
		</form>
	}
</div>
@if(ViewBag.Pozajmice != null)
{
	if(ViewBag.Pozajmice.Count == 0)
	{
		Poruka porukaKorisniku = ViewBag.PorukaKorisniku;
		await Html.RenderPartialAsync("~/Views/Shared/_PorukaKorisniku.cshtml", porukaKorisniku);
	}
	else
	{
		List<PozajmicaBO> pozajmice = ViewBag.Pozajmice;
		await Html.RenderPartialAsync("_PrikazPodatakaPozajmice.cshtml", pozajmice);
	}
}