@model int

<form asp-controller="Clanarina" asp-action="OtvoriClanarinu" method="post">
	<div class="mb-3">
		<p>
			<span class="fw-bold">Datum početka: </span>
			@(DateTime.Now.ToString("dd/MMM/yyyy"))
		</p>
	</div>
	<div class="mb-3">
		<p>
			<span class="fw-bold">Datum završetka: </span>
			@((DateTime.Now.AddYears(1)).ToString("dd/MMM/yyyy"))
		</p>
	</div>
	<div class="mb-3">
		<label for="cena" class="form-label">Cena članarine:</label>
		<input type="number" name="cena" id="cena" min="1" value="1" placeholder="Cena članarine" class="form-control" required/>
		<input type="hidden" name="id" value="@Model" />
	</div>
	<hr />
	<div class="d-flex flex-row-reverse">
		<input type="submit" value="Otvori članarinu" class="btn btn-primary" />
	</div>
</form>