@model BibliotekaPPP.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="d-flex flex-row justify-content-center">
    <div class="card text-dark bg-light w-50">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="clan-tab" data-bs-toggle="tab" data-bs-target="#clan" type="button" role="tab" aria-controls="clan" aria-selected="true">Član biblioteke</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bibliotekar" type="button" role="tab" aria-controls="bibliotekar" aria-selected="false">Bibliotekar</button>
            </li>
        </ul>
        <div class="tab-content p-3" id="myTabContent">
            <div class="tab-pane fade show active" id="clan" role="tabpanel" aria-labelledby="clan-tab">
                <h2>Login - članski korisnički nalog</h2>
                <hr />
                @if (Model != null && Model.PorukaKorisniku != null)
                {
                    await Html.RenderPartialAsync("~/Views/Shared/_PorukaKorisniku.cshtml", Model.PorukaKorisniku);
                }
                <form asp-controller="Nalog" asp-action="LoginClan" method="post">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label">E-mail adresa vezana za članstvo</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Lozinka" class="form-label">Lozinka</label>
                        <input asp-for="Lozinka" class="form-control" />
                        <span asp-validation-for="Lozinka" class="text-danger"></span>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <input type="submit" value="Uloguj me" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="bibliotekar" role="tabpanel" aria-labelledby="bibliotekar-tab">

            </div>
        </div>
    </div>
</div>
