@model BibliotekaPPP.Models.ViewModels.RegistracijaClanViewModel

@{
    ViewData["Title"] = "Registracija na web platformu biblioteke";
}

<div class="d-flex flex-row justify-content-center">
    <div class="card text-dark bg-light w-50">
        <div class="card-body">
            <h2>Registracija na web platformu biblioteke</h2>
            <hr />
            @if(Model != null && ViewBag.PorukaKorisniku != null)
            {
                Poruka porukaKorisniku = ViewBag.PorukaKorisniku;
                await Html.RenderPartialAsync("~/Views/Shared/_PorukaKorisniku.cshtml", porukaKorisniku);
            }
            <form asp-controller="Nalog" asp-action="RegistracijaClan" method="post">
                <div class="mb-3">
                    <label asp-for="JCB" class="form-label">Jedinstveni Članski Broj (JČB)</label>
                    <input asp-for="JCB" class="form-control"/>
                    <span asp-validation-for="JCB" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">E-mail adresa vezana za članstvo</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Lozinka" class="form-label">Lozinka</label>
                    <input asp-for="Lozinka" class="form-control" />
                    <span asp-validation-for="Lozinka" class="text-danger"></span>
                </div>
                <div class="d-flex flex-row-reverse">
                    <input type="submit" value="Kreiraj nalog" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>