.naslovna-strana-gradje > img {
    width: 100%;
}

.gradja-opis {
    text-align: justify;
}

.gradja-opis-stavka {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 100px;
}

.gradja-izdavanje {
    color: #808080;
}